/**/
.c-header{
    height: 100px;
}
/**/
.c-nav-container{
    background-color: #017ebc;
}
.c-nav{
    background-color: #454F8A;
    list-style: none;
    list-style: none;
    padding: 0;
    height:39px;
}
.c-nav-li{
    text-align: center;
    float: left;
    width: 20%;
    line-height: 39px;
    height: 39px;
    font-size: 16px;
}
.c-a{
    color:#fff;
}
/*轮播层*/
.c-picture-con .c-img-div img.c-img{
    width:900px;
    height: 300px;
}

/*全局用到的*/
.c-wrapper{
    width: 1020px;
    margin: 0 auto;
}